html {
    scroll-behavior: smooth;
  }
  
*{
    margin: 0%;
    padding: 0%;
}
#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: block;
    padding: 20px;
}
.container ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    
}
#header{
    height: 100vh;
    width: 100%;
    background: url("2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(239, 238, 240);
}

.container ul li {
    float: left;
    margin-left: 20px;
  

}
.container ul li a{
    text-decoration: none;
    color: white  ;
    margin: 10px;

}

.container{
    text-align: top left;
    text-decoration: white;}
#btn{
    display: flex;
    justify-content: center;
}
#home h1,h2{
    text-align: center;
}
#home{
    width: 450px;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    margin: auto;
    font-size: 20px;
    color: black;
    line-height: 3rem;
    letter-spacing: 1px;
    text-align: left;
    border-bottom: 6px;
    text-align: justify;
    background: rgb(227, 230, 233,.6);
 

}
.main p{
    margin: 30px;
}
.main #img{
    width: 20%;
    float: right;
}
.main{
    width: 100%;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    margin: auto;
    font-size: 20px;
    color: black;
    line-height: 3rem;
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgba(68, 74, 78, 0.6);

}
/* menu section */
#menu-services{
    margin: 34px;
    display: flex;
    
}
#menu-services{
    width: 100%;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    margin: auto;
    font-size: 20px;
    color: black;
    line-height: 1.5rem;
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgba(216, 211, 211, 0.6);
}
/* events section */
#events-section{
    background: url(5.jpg) no-repeat center/cover;
    width: 100%;
    height: 55vh;
}
.h-primary{
    width: 85%;
    height: 50vh;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    margin: auto;
    font-size: 1rem;
    color: black;
    /* line-height: 1.5rem; */
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgba(216, 211, 211, 0.6);
}

#text{
    float: right;
}

#contact-section{
    background: url(8.jpg) no-repeat center/cover ;
    width: 100%;
    height: 250vh;

}
.primary{
    width: 85%;
    height: 50vh;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin-top: 30px;
    margin: auto;
    font-size: 1rem;
    color: black;
    /* line-height: 1.5rem; */
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgba(243, 238, 238, 0.6);
}
#cen{
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#li{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 50px;
    font-size: 1.5rem;
    padding: 20px;
}
.discover{
    width: 100%;
    height: 50vh;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin: auto;
    font-size: 1rem;
    color: black;
    /* line-height: 1.5rem; */
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgba(235, 225, 225, 0.6);
    margin-top: 25vh;
}
.over-menu{
    font-size: 0.8rem;
    float: right;
}
.sec{
    margin-top: 20px;
}
.third{
    margin-top: 20px;
}
.new-menu{
    font-size: 0.8rem;
    
}
.s{
    margin-top: 20px;
}
.th{
    margin-top: 20px;
}
/* BOOK HERE SECTION */
#book-here{
    width: 100%;
    height: 90vh;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin: auto;
    font-size: 1rem;
    color: black;
    /* line-height: 1.5rem; */
    /* letter-spacing: 1px; */
    text-align: left;
    border-bottom: 6px;
    /* text-align: justify; */
    background: rgb(40,51,68,1);

    margin-top: 25vh;
}
.main-primary{
    text-align: center;
    color: white;
}
#booking{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#booking input{
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
}
#booking form{
    width: 40%;
}
#booking label{
    font-size: 1.4rem;
    color: white;
}

@media (max-width:768px) {
    #header .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
}